

.pagina-eventos {
    background-color: #f5f6fa;
    min-height: 100vh;

    .cabecalho {
        background-color: #fff;
    padding: 30px 50px;

    h1 {
      color: #606060;
      font: 600 32px 'Montserrat';
    
    }
   
    }

    .secao {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        background-color: #fff;
        padding: 40px;
        box-shadow: 0px 0px 15px 2px #eeeeee;
        margin: 50px 60px;
        max-width: 1000px;
        border-radius: 8px;
        font: 400 24px 'Montserrat';
    
        h1 {
          color: #404040;
          font: 600 28px 'Montserrat';
          margin-bottom: 30px;
        }
    
        input, select{
         
          color: #606060;
          padding: 10px;
          font: 400 24px 'Montserrat';
          outline: none;
          border-radius: 3px;
          border-width: 2px;
          border-style: solid;
          border-color: #e7e7e7;
          min-width: 400px;
         
        }
    
        button {
          background-color: #0084FF;
          color: #fff;
    
          padding: 13px 30px ;
          border-radius: 2px;
          border: none;
          
          font: 500 20px 'Montserrat';
          outline: none;
          transition: 0.2s ease-in;
        }
    
    
        button:hover{
          border: 2px solid #0084FF;
          background-color: #fff;
          border-radius: 2px;
          color: #606060;
          padding: 13px 30px;
        }
    
        ul, li {
          margin: 20px 0px;
      
        }
       a,a:visited,a:link {
        color: inherit;
        text-decoration: none;
        font: 500 24px 'Montserrat';
       }
        
      }

      .grupo {
        display: flex;
        align-items: center;  
        gap: 10px;   
        
        input {
            min-width: auto
        }
    
    }

 
}