

.pagina-eventos {
    

    .secao {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        background-color: #fff;
        padding: 40px;
        box-shadow: 0px 0px 15px 2px #eeeeee;
        margin: 50px 60px;
        max-width: 1000px;
        border-radius: 8px;
        font: 400 24px 'Montserrat';
    
        
      }

      .grupo {
        display: flex;
        align-items: center;  
        gap: 10px;   
        
        input {
            min-width: auto
        }
    
    }

 
}