


.pagina-contato {
    display: flex;
    flex-direction: column;
    background-color: #f5f6fa;
    min-height: 100vh;


    .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 50px;
    gap: 10px;
    background-color: #fff;


    a,a:visited,a:link {
    color: inherit;
    }

    h1 {
    color: #606060;
    font: 600 32px 'Montserrat';
    }
    
    }

    img {
        padding: 30px 50px;
        width: 15rem;
    }
}

