
.comp-cartao-filme {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0px -10px 10px #e2e2e2;
    border-radius: 15px;
    position: relative;

    img {
        width: 300px;
    }

    p {
        font: 500 20px 'Montserrat';
        text-align: center;
    }
    .estrela {
        color: #ffd037;
    }
    .estreia {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 7px 30px;
        border-radius: 100px;
        background-color: #2b2b2b;
        color: #fff;
        font: 500 20px 'Montserrat';

    }
    .classificacao {
        display: flex;
        justify-content: center;
        align-items: center;

        font: 600 18px "Montserrat";
        background-color: #31db3a;
        color: #fff;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50px;
        left: 70px;
    }
    .c-l {
        background-color: #31db3a;
    }

    .c-10 {
        background-color: #1e83e0;
    }
    
    .c-12 {
        background-color: #e7bb2a;
    }

    .c-14 {
        background-color: #e78f2a;
    }

    .c-16 {
        background-color: #db1414;
    }

    .c-18 {
        background-color: #000000;
    }

    
}