

.pagina-test {
    background-color: #f5f6fa;
    min-height: 100vh;

    .cabecalho {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 30px 50px;
        gap: 10px;
        
        h1 {
            color: #6e6e6e;
            font: 600 32px 'Montserrat';
        }

        a,a:visited,a:link {
            color: inherit;
        }
    }

    .secao {
        width: 1000px;
        margin: 50px 60px;
        background-color: #fff;
        padding: 40px 50px;
        border-radius: 6px;
        box-shadow: 0px 0px 15px 2px #ececec;
        
        
        h1 {
            font: 600 28px 'Montserrat';
            color: #404040;
            margin-bottom: 10px;
        }


        .calc {
            button {
                background-color: #197dff;
                border: 2px solid #197dff;
                border-radius: 3px;
                color: #fff;
                font: 500 16px 'Montserrat';
                padding: 10px 25px;
                margin-right: 15px;
                margin-left: 15px;
                margin-top: 10px;
            }
        }

        .entrada {
            display: flex;
            gap: 10px;
             margin: 30px 0px;
            
             input, select {
                min-width: auto;
                width: 400px;
                padding: 10px;
                font: 400 24px 'Montserrat';
                color: #404040;
                border: 2px solid #cecdcd;
                outline: none;
            }

            button {
                background-color: #197dff;
                border: 2px solid #197dff;
                border-radius: 3px;
                color: #fff;
                font: 500 16px 'Montserrat';
                padding: 16px 20px;
                transition: 0.3s ease-in-out;
            }

            button:hover {
               background-color: #fff;
               border: 2px solid #197dff;
               color: #6e6e6e;
            }

        
        }

        input [type = checkbox] {
            min-width: auto;
        }

        ul {
            list-style-type: none;
            
        }

        i {
            margin-right: 10px;
        }

        
    }
}